<nav class="navbar navbar-expand-lg navbar-dark transparent">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div id="logo">
      <a routerLink="/about">
        <img src="assets/img/favicon.png"> Battle Dev'alhalla</a>
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/register" class="nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
          <i class="fa fa-user-plus fa-2x"></i> Register
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/account" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
          <i class="fa fa-user fa-2x"></i> Account ({{ auth.currentUser.username }})
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
          <i class="fa fa-lock fa-2x"></i> Admin
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/stats" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
          <i class="fa fa-newspaper-o"></i> Stats
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/concours" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
          <i class="fa fa-calculator"></i> Concours
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/teams" class="nav-link" routerLinkActive="active">
          <i class="fa fa-users fa-2x"></i> teams
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" class="nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
          <i class="fa fa-sign-in fa-2x"></i> Login
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/logout" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
          <i class="fa fa-sign-out fa-2x"></i> Logout
        </a>
      </li>
    </ul>
  </div>
</nav>
