h1 {
  font-style: "Palatino Linotype", "Book Antiqua", serif;
  color: black;
  text-align: center;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

h2 {
  text-align: center;
}
.trop {
  color: red;
}

.parfait {
  color: green;
}
.card {
  max-width: 200px;
}
