<div class="example-card">


  <div class="text-center team">Team: {{ data.user.username }}
  </div>

  <div class="padding-10">
    <img mat-card-image src="{{ data.user.img }}" alt="Photo of a Shiba Inu">
    <ul>
      <li class="card-title text-center" *ngIf="data.user.membre1 !== ''">membre: {{ data.user.membre1 }} </li>
      <li class="card-title text-center" *ngIf="data.user.membre2 !== ''">membre: {{ data.user.membre2 }} </li>
      <li class="card-title text-center" *ngIf="data.user.membre3 !== ''">membre: {{ data.user.membre3 }} </li>
      <li class="card-title text-center" *ngIf="data.user.membre4 !== ''">membre: {{ data.user.membre4 }} </li>
      <li class="card-title text-center">Score moyen : {{ data.user.note.round1.uxdesign/3 + data.user.note.round1.fonctionnalites/3 + data.user.note.round1.pitch/3 }} </li>
    </ul>
  </div>
</div>
