<!-- <div class="card" #animeObject>
  <div id="bg-img">
    <h4 class="card-header">About</h4>
  </div>

  <div class="card-body">
    <ul>
      <li>
        <b>Author:</b>
        <a href="https://github.com/DavideViolante" target="_blank">Davide Violante</a>
      </li>
      <li>
        <b>GitHub:</b>
        <a href="https://github.com/DavideViolante/Angular-Full-Stack" target="_blank">project repository</a>
      </li>
      <li>
        <b>This project uses the MEAN stack:</b>
      </li>
      <ul>
        <li>
          <a href="http://www.mongoosejs.com" target="_blank">
            <b>M</b>ongoose.js</a> (
          <a href="https://www.mongodb.com" target="_blank">MongoDB</a>)</li>
        <li>
          <a href="http://www.expressjs.com" target="_blank">
            <b>E</b>xpress.js</a>
        </li>
        <li>
          <a href="https://www.angular.io" target="_blank">
            <b>A</b>ngular 2+</a>
        </li>
        <li>
          <a href="https://www.nodejs.org" target="_blank">
            <b>N</b>ode.js</a>
        </li>
      </ul>
      <li>
        <b>Other tools and technologies used:</b>
      </li>
      <ul>
        <li>
          <a href="https://cli.angular.io" target="_blank">Angular CLI</a>
        </li>
        <li>
          <a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a>
        </li>
        <li>
          <a href="http://www.fontawesome.io" target="_blank">Font Awesome</a>
        </li>
        <li>
          <a href="https://jwt.io" target="_blank">JSON Web Token</a>
        </li>
        <li>
          <a href="https://github.com/auth0/angular2-jwt/tree/v1.0" target="_blank">Angular 2 JWT</a>
        </li>
        <li>
          <a href="https://github.com/dcodeIO/bcrypt.js" target="_blank">Bcrypt.js</a>
        </li>
      </ul>
    </ul>
  </div>
</div> -->
<!-- ========== HEADER SECTION ========== -->
<section id="home" name="home" #animeObject></section>

<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1 id="h1title" #animeTitle>Battle Dev'alhalla</h1>
        <h3 id="h3title" #animeSousTitle>Welcome to the next gen battle.</h3>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>
<!-- /headerwrap -->


<!-- ========== ABOUT SECTION ========== -->
<section id="about" name="about"></section>
<div id="f">
  <div class="container-fluid mgbt-50">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-10 offset-1 nextevent">
            <div class="row">
              <div class="col-8 gris nextevent-item">
                <div class="row">
                  <div class="col-12">
                    <h3 class="text-left mrgbt-20">Prochain Battle :</h3>
                    <p class="text-left mrgbt-20">Pour participer au prochain
                      <strong>Battle Dev'alhalla</strong>, c'est par ici.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <p class="ouquiquoi text-left">
                      <i class="fa fa-map-marker"></i> Où</p>
                    <p class="text-left">Paris, Palais des congrès</p>
                  </div>
                  <div class="col-4">
                    <p class="ouquiquoi text-left">
                      <i class="fa fa-ticket"></i> Qui ?</p>
                    <p class="text-left">1500 participants</p>
                  </div>
                  <div class="col-4">
                    <p class="ouquiquoi text-left">
                      <i class="fa fa-microphone"></i> Quoi ?</p>
                    <p class="text-left">150 match à mort en équipe</p>
                  </div>
                </div>
              </div>
              <div class="col-4 rouge nextevent-item">
                <div class="row mrgbt-20">
                  <div class="col-5 offset-1">
                    <div class="redblock">
                      <p>00</p>
                      <p>Jours</p>
                    </div>
                  </div>
                  <div class="col-5">
                    <div class="redblock">
                      <p>00</p>
                      <p>Heures</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5 offset-1">
                    <div class="redblock">
                      <p>00</p>
                      <p>Jours</p>
                    </div>
                  </div>
                  <div class="col-5">
                    <div class="redblock">
                      <p>00</p>
                      <p>Heures</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container ">
    <div class="row">
      <div class="col-6 presentation">
        <h4 class="text-left">Présentation</h4>
        <h3 class="text-left">A propos de Devoxx France</h3>
        <p class="text-left">
          Devoxx France est une conférence en 2 temps forts, sur 3 jours. La première journée, appelée "University", vous permet d'assister
          à des présentations longues et de participer à des ateliers. Par exemple une session sur Docker, puis un atelier
          sur Angular 2, et enfin des présentations d'outils en fin de journée.
          <br>
          <br> Le jeudi et le vendredi, Devoxx France propose d'abord des Keynotes, autour d'orateurs préstigieux, puis ensuite
          un cycle de 8 conférences, toutes les de 50 mn. Vous pouvez ainsi construire votre propre agenda et suivre différentes
          sessions selon vos envies.
          <br>
          <br>Issue de la communauté Java, Devoxx France s'est ouvert au fil des ans et accueille les développeurs en général.
          Du Web à la Sécurité, en passant par le Cloud Computing, notre comité de sélection trie et sélectionne 230 propositions,
          sur 900 candidatures.
          <br>
          <br> Devoxx France fait partie de la famille des conférences Devoxx (Belgique, Angleterre, Pologne, Maroc et USA).
          Notre communauté regroupe plus de 10 000 dévelopeurs à travers le monde
        </p>
      </div>
      <div class="col-6">
        <img src="assets/img/2.jpg">
      </div>



      <!-- INTRO INFORMATIO-->
      <div class="col-6 offset-3">
        <h3>LES EQUIPES ENCORE EN JEU</h3>
        <div class="row">
          <div class="col-6 team"></div>
          <div class="col-6 team"></div>
        </div>
        <div class="row">
          <div class="col-6 offset-3 team"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>
<!-- /f -->


<!-- ========== CAROUSEL SECTION ========== -->
<section id="portfolio" name="portfolio"></section>
<div id="f">
  <div class="container">
    <div class="row centered">
      <div class="col-6 offset-3">
        <h3>SOME PROJECTS</h3>
      </div>
      <div class="col-6 offset-3">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active centered">
              <img class="img-responsive" src="assets/img/c1.png" alt="">
            </div>
            <div class="item centered">
              <img class="img-responsive" src="assets/img/c2.png" alt="">
            </div>
            <div class="item centered">
              <img class="img-responsive" src="assets/img/c3.png" alt="">
            </div>
          </div>
          <br>
          <br>
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
        </div>
      </div>
      <!-- col-lg-8 -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<!-- f -->

<!-- ========== CONTACT SECTION ========== -->
<section id="contact" name="contact"></section>
<div id="f">
  <div class="container">
    <div class="row">
      <div class="col-6 offset-3">
        <h3>CONTACT ME</h3>
      </div>
      <div class="col-6 offset-3">
        <p>Some Avenue, 987
          <br/>Madrid, Spain
          <br/>+34 8984-4343</p>
        <p>iam@awesomemail.com</p>
        <p>
          <button type="button" class="btn btn-warning">YEAH! CONTACT ME NOW!</button>
        </p>
      </div>
    </div>
  </div>
</div>
