<div parallax [config]="{axis: X, speed: -0.3}" id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1 id="h1title" #animeTitle>Battle Dev'alhalla</h1>
        <h3 id="h3title" #animeSousTitle>Welcome to the next gen battle.</h3>
        <div class="axes">
          <img class="axe" src="assets/img/axe2.png" #animeAxeL>
          <img class="axe" src="assets/img/axe2bis.png" #animeAxeR>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="f">
  <div class="container-fluid mgbt-50">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-10 offset-1 nextevent" data-aos="zoom-in" data-aos-anchor="#home" data-aos-anchor-placement="top-top">
            <div class="row">
              <div class="col-8 gris nextevent-item">
                <div class="row">
                  <div class="col-12">
                    <h3 class="text-left mrgbt-20" id="trigger-left">Prochain Battle :</h3>
                    <p class="text-left mrgbt-20">Pour participer au prochain
                      <strong>Battle Dev'alhalla</strong>, c'est par ici.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <p class="ouquiquoi text-left">
                      <i class="fa fa-map-marker"></i> Où</p>
                    <p class="text-left">Paris, Palais des congrès</p>
                  </div>
                  <div class="col-4">
                    <p class="ouquiquoi text-left">
                      <i class="fa fa-ticket"></i> Qui ?</p>
                    <p class="text-left">1500 participants</p>
                  </div>
                  <div class="col-4">
                    <p class="ouquiquoi text-left">
                      <i class="fa fa-microphone"></i> Quoi ?</p>
                    <p class="text-left">150 match à mort en équipe</p>
                  </div>
                </div>
              </div>
              <div class="col-4 blue nextevent-item">
                <div class="row mrgbt-20">
                  <div class="col-5 offset-1">
                    <div class="bluebock">
                      <p>{{ this.j }}</p>
                      <p>Jours</p>
                    </div>
                  </div>
                  <div class="col-5">
                    <div class="bluebock">
                      <p>{{ h }}</p>
                      <p>Heures</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5 offset-1">
                    <div class="bluebock">
                      <p>{{ mn }}</p>
                      <p>Minutes</p>
                    </div>
                  </div>
                  <div class="col-5">
                    <div class="bluebock">
                      <p>{{ sec }}</p>
                      <p>Secondes</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container ">
    <div class="row">
      <div class="col-6 presentation" data-aos="fade-right" data-aos-anchor="#trigger-left" data-aos-anchor-placement="top-top"
        id="trigger-right">
        <h4 class="text-left">Présentation</h4>
        <h3 class="text-left sectiontitle">A propos de Devoxx France</h3>
        <p class="text-left">
          Devoxx France est une conférence en 2 temps forts, sur 3 jours. La première journée, appelée "University", vous permet d'assister
          à des présentations longues et de participer à des ateliers. Par exemple une session sur Docker, puis un atelier
          sur Angular 2, et enfin des présentations d'outils en fin de journée.
          <br>
          <br> Le jeudi et le vendredi, Devoxx France propose d'abord des Keynotes, autour d'orateurs préstigieux, puis ensuite
          un cycle de 8 conférences, toutes les de 50 mn. Vous pouvez ainsi construire votre propre agenda et suivre différentes
          sessions selon vos envies.
          <br>
          <br>Issue de la communauté Java, Devoxx France s'est ouvert au fil des ans et accueille les développeurs en général.
          Du Web à la Sécurité, en passant par le Cloud Computing, notre comité de sélection trie et sélectionne 230 propositions,
          sur 900 candidatures.
          <br>
          <br> Devoxx France fait partie de la famille des conférences Devoxx (Belgique, Angleterre, Pologne, Maroc et USA).
          Notre communauté regroupe plus de 10 000 dévelopeurs à travers le monde
        </p>
      </div>
      <div class="col-6" data-aos="fade-left" data-aos-anchor="#trigger-right" data-aos-anchor-placement="top-center">
        <div parallax [config]="{axis: X, speed: -0.3}" class="imgchapter"></div>
      </div>


      <div class="col-6 offset-3" data-aos="flip-left" data-aos-anchor="#trigger-left" data-aos-anchor-placement="top-top">
        <h3 class="sectiontitle">LES EQUIPES ENCORE EN JEU</h3>
        <div class="row">
          <div id="ticketrigger"></div>
          <div class="col-6 team"></div>
          <div class="col-6 team"></div>
        </div>
        <div class="row">
          <div class="col-6 offset-3 team"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="ticketrigger1"></div>
  <div id="ticketrigger2"></div>
  <div id="ticketrigger3"></div>
  <div id="ticketrigger4"></div>
</div>


<div id="f">
  <div class="container">
    <div class="row centered">
      <div class="col-6 offset-3">
        <h3 class="sectiontitle" data-aos="fade-up" data-aos-duration="3000" data-aos-anchor="#ticketrigger">TICKETS</h3>
      </div>
      <div class="col-10 offset-1">
        <div class="row">
          <div class="col-6">
            <div class="ticket" data-aos="fade-up" data-aos-duration="3000" data-aos-anchor="#ticketrigger1">
              <div class="row">
                <div class="col-6">
                  <p class="price">500 €</p>
                  <p class="pricetitle">Pass Combi
                    <br>
                    <span>Early Bird</span>
                  </p>
                </div>
                <div class="col-6">
                  <button class="btn">Acheter</button>
                </div>
              </div>
            </div>
            <div class="ticket" data-aos="fade-up" data-aos-duration="3000" data-aos-anchor="#ticketrigger2">
              <div class="row">
                <div class="col-6">
                  <p class="price">400 €</p>
                  <p class="pricetitle">Pass Conférence
                    <br>
                    <span>Early Bird</span>
                  </p>
                </div>
                <div class="col-6">
                  <button class="btn">Acheter</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="ticket" data-aos="fade-up" data-aos-duration="3000" data-aos-anchor="#ticketrigger3">
              <div class="row">
                <div class="col-6">
                  <p class="price">300 €</p>
                  <p class="pricetitle">Pass University
                    <br>
                    <span>Early Bird</span>
                  </p>
                </div>
                <div class="col-6">
                  <button class="btn">Acheter</button>
                </div>
              </div>
            </div>
            <div class="ticket" data-aos="fade-up" data-aos-duration="3000" data-aos-anchor="#ticketrigger4">
              <div class="row">
                <div class="col-6">
                  <p class="price">200 €</p>
                  <p class="pricetitle">Pass Jsuipovre
                    <br>
                    <span>Early Bird</span>
                  </p>
                </div>
                <div class="col-6">
                  <button class="btn">Acheter</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- col-lg-8 -->
  </div>
</div>
<!-- ========== CONTACT SECTION ========== -->
<section id="contact" name="contact"></section>
<div id="f">
  <div class="container">
    <div class="row">
      <div class="col-6 offset-3">
        <h3>CONTACT ME</h3>
      </div>
      <div class="col-6 offset-3">
        <p>Some Avenue, 987
          <br/>Madrid, Spain
          <br/>+34 8984-4343</p>
        <p>iam@awesomemail.com</p>
        <p>
          <button type="button" class="btn btn-warning">YEAH! CONTACT ME NOW!</button>
        </p>
      </div>
    </div>
  </div>
</div>
<div parallax class="some-parallax"></div>
