<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
    {{ test }}
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Nbr de participants</th>
          <th scope="col">Theme</th>
        </tr>
      </thead>
      <tbody *ngIf="cats.length === 0">
        <tr>
          <td colspan="4">Pas de concours.</td>
        </tr>  
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let cat of cats">
          <td>{{ cat.date }}</td>
          <td>{{ cat.nbrP }}</td>
          <td>{{ cat.theme }}</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteCat(cat)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>  
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editCat(cat)">
              <input class="form-control mr-2" type="text"  [(ngModel)]="date" formControlName="date" placeholder={{cat.date}} required>
              <input class="form-control mr-2" type="number"  [(ngModel)]="nbrP" formControlName="nbrP" placeholder={{cat.nbrP}} min="0" required>
              <input class="form-control mr-2" type="text"  [(ngModel)]="theme" formControlName="theme" placeholder={{cat.theme}} step="any" required>
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Nouvel évènement</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addCatForm" (ngSubmit)="addCat()">
      <input class="form-control mr-2" type="text" name="date" formControlName="date" placeholder="date">
      <input class="form-control mr-2" type="number" name="nbrP" formControlName="nbrP" placeholder="nbrP" step="any" min="0">
      <input class="form-control mr-2" type="text" name="theme" formControlName="theme" placeholder="theme">
      <button class="btn btn-primary" type="submit" [disabled]="cats[0]"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>